# Terraform/OpenTofu stuff
.terraform
.terraform.lock.hcl

# sops config
.sops.yaml

# Don't include config.yaml, as it may contain secrets in the future
config.yaml

# Unencrypted secrets files
secrets.yaml

# Don't include the kubeconfig
kubeconfig

# Common ssh keys.
id_ed25519
id_rsa
id_dsa
id_ecdsa
